:root {
  --bg--main: #f7cb46;
  --bg--side: #f196e5;

  --color--main: #fff;
  --color-side: #352e35;

  --btn-color: #ff7e00;
}

* {
  text-decoration: none !important;
}

body {
  font-family: "Inter", sans-serif;
}

section.section {
  height: auto;
  background: #f196e5;
}

/* -------> MODAL BOX <------- */
.modal-backdrop.show {
  z-index: 0;
}
.modal-content {
  background: #fdf7e1;
  color: #000;
  border: 2px solid;
  border-bottom: 4px solid;
}
.modal-footer {
  justify-content: start;
}

input.form-control {
  border-radius: 10px;
  border: 2px solid;
  border-bottom: 4px solid;
}

/* =================== BG ABSOLUTE =================== */
.bg {
  padding: 7rem 0 2rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 90vh;
  position: absolute;
}
.bg img {
  width: 8rem;
  height: auto;
}

.bg img:nth-child(1) {
  grid-area: 1/2;
  width: 7rem;
}
.bg img:nth-child(2) {
  grid-area: 1/9;
  width: 5rem;
}
.bg img:nth-child(4) {
  grid-area: 5/2;
  width: 9.5rem;
}
.bg img:nth-child(5) {
  grid-area: 5/11;
  width: 6.8rem;
}
.bg img:nth-child(3) {
  grid-area: 2/12;
  width: 6rem;
}

/* =================== SYTLE-NAV-CSS =================== */
.btn-light {
  background: #f196e5 !important;
  border: 2px solid #352e35 !important;
  border-radius: 12px !important;
  font-weight: 800 !important;
  padding: 0.5rem 1.8rem !important;
  box-shadow: 0px 9px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px 0px 8.7px 0px rgba(255, 255, 255, 0.25);
}

.navbar-dark {
  color: var(--bs-white) !important;
}

a.navbar-brand {
  font-weight: 700 !important;
}

a.nav-link:hover {
  color: #ff7e00 !important;
  border-bottom: 2px solid #ff7e00;
}

ul.dropdown-menu {
  --bs-dropdown-min-width: 0rem;
  --bs-dropdown-padding: null;
  --bs-dropdown-link-hover-bg: var(--btn-color);
}
ul.dropdown-menu:hover {
  color: #ff7e00;
}

svg.svg-arrow {
  margin: 8px;
}

.navbar-scrolled {
  background: #000000 !important;
  backdrop-filter: blur(90) !important;
}
/* ==================== STYLE-HERO ===================*/

section.hero {
  background: #f7cb46;
}

.hero-style {
  display: flex;
  height: 100vh;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .title span {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  font-weight: 800;
  color: #fff;
  text-shadow: 2px 6px 5.5px rgba(0, 0, 0, 0.25);
}

a.font-btn-main {
  font-size: 1rem;
  padding: 0.5rem 0.6rem;
  position: relative;
  top: 2px;
  font-family: "Montserrat", sans-serif;
}

.hero .subtitle-hero span {
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.btn:hover {
  transition: all 150ms ease-in;
  transform: scale(1.04);
  background: var(--bs-btn-border-hover-color);
}

.btn {
  transition: all 150ms ease-out;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25),
    0px 9px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background: var(--btn-color);
  border: 3px solid var(--color-side);
  --bs-btn-hover-border-color: 0;
  --bs-btn-border-hover-color: #ff7e00;
}

.btn a.font-btn-main {
  font-weight: 700;
  color: var(--color-side);
}

/* =================== STYLE-WAVE ===================*/
.font-black {
  color: #000;
}

img.wave {
  align-items: center;
  object-position: center;
  bottom: 5rem;
  position: relative;
  width: 100%;
  height: 15vh;
}

/* =================== STYLE-SECTION2 ===================*/
.bg2 {
  position: absolute;
  display: grid;
  width: auto;
  height: 50vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.bg2 img {
  width: 6rem;
}

.bg2 img:nth-child(1) {
  width: 9rem;
  grid-area: 1/1;
}
.bg2 img:nth-child(2) {
  width: 6rem;
  grid-area: 2/1;
}
.bg2 img:nth-child(3) {
  width: rem;
  grid-area: 1/5;
}
.bg2 img:nth-child(4) {
  width: 10rem;
  grid-area: 2/5;
}

.title span.font-black {
  font-size: 4rem;
}

.section-event-unggulan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  line-height: 28px;
  font-weight: 500;
}

img.main-maskot-3d {
  width: 100%;
}
/* ================ STYLE-SECTION3 ================ */

.main-Explore-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0 9rem 0;
  background: #f196e5;
}

.title-center span {
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.card-body {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: auto;
  border-radius: 16px;
}

.card-style {
  border: 2px solid #000;
  border-bottom: 8px solid #000;
  background: #fdf7e1;
}

.left-card {
  width: 100%;
  height: auto;
  display: flex;
}

.right-card {
  width: 100%;
}
.title-in-card span {
  color: #000;
  font-size: 3.3rem;
}

.card-body .dua {
  background: #f7cb46;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 17px 23px 11.1px 0px rgba(0, 0, 0, 0.25) inset;
}
.card-body .visi {
  width: 19rem;
}

mg.wave:nth-child(2) {
  bottom: 3rem;
}
/* ================== FOOTER ================= */
footer {
  height: 90vh;
  background: #000;
}

.subtext {
  color: #d6d6d6;
}
button.btn-contact {
  color: #352e35;
  border: 1px solid #352e35;
  border-radius: 12px;
  box-shadow: 0px 12px 4px 0px rgba(0, 0, 0, 0.25),
    0px 9px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.title span.footer {
  color: #cecece;
}
.center-space2 {
  gap: 3rem;
  row-gap: 1rem;
  padding-right: 4rem;
}
.center-space2 ul a {
  color: white;
}
.center-space2 ul a:hover {
  color: var(--btn-color);
}
.right-icons {
  gap: 2rem;
}

.space-contact2 {
  justify-content: space-between;
  align-items: end;
  border-bottom: 2px solid #484848;
  margin: 4rem 0 1.2rem 0;
  padding: 2rem 0;
}

.space-copyright3 {
  font-family: Inter;
}

/* ================ REKOMENDASI EVENT ================ */
.carousel-item img {
  object-fit: cover;
  object-position: center;
}
.carousel-item {
  border-radius: 32px;
  background: #fdf7e1;
  border: 2px solid #000;
  border-bottom: 8px solid #000;
}

/* ----------- card ----------- */
.content-right-card {
  height: 50;
}

.img-card-left {
  width: 50%;
  height: auto;
}

.carousel-item {
  height: 544px;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 10 !important;
  color: #000 !important;
  width: 5% !important;
}

.content-right-card {
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  height: auto;
  padding: 2rem;
  justify-content: start;
}

.overflow-scroll {
  background: #fdf7e1;
  height: 25%;
  font-size: 1.2rem;
  z-index: 99;
}

/* ================ MEDIA QUERY ================ */
@media (max-width: 1200px) {
  .overflow-scroll {
    height: 17%;
  }
  .carousel-item {
    height: 457px;
  }
}

@media (max-width: 992px) {
  .section-event-unggulan {
    flex-direction: column-reverse !important;
  }
  .card-body {
    flex-direction: column;
  }
  .space-contact2 {
    flex-direction: column;
    row-gap: 2.7rem;
    align-items: start;
    margin: 1rem 0 1.2rem 0;
  }

  .overflow-scroll {
    height: 13%;
    font-size: 0.8rem;
  }
  .carousel-item {
    height: 342px;
  }
  .fs-1 {
    font-size: 2rem !important;
  }
  .content-right-card {
    gap: 0.4rem;
  }
}

@media (max-width: 768px) {
  .card-event-carousel {
    flex-direction: column !important;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .hero .title span {
    font-size: 38px;
  }
  span.fs-5 {
    font-size: 1rem;
  }
  /* bg img */
  .bg img:nth-child(1) {
    grid-area: 1/2;
    width: 4rem;
  }
  .bg img:nth-child(2) {
    grid-area: 1/9;
    width: 4rem;
  }
  .bg img:nth-child(4) {
    grid-area: 5/2;
    width: 5.5rem;
  }
  .bg img:nth-child(5) {
    grid-area: 5/12;
    width: 5.8rem;
  }
  .bg img:nth-child(3) {
    grid-area: 2/12;
    width: 4rem;
    position: relative;
    left: 2rem;
  }

  .carousel-item {
    height: auto;
  }
  .img-card-left {
    width: 100%;
  }
  .content-right-card {
    width: 100%;
  }
  .overflow-scroll {
    display: none;
  }
  .center-space2 {
    padding-right: 0;
  }
  .center-space2 {
    padding-right: 0;
  }
  .event-product {
    background: #000;
  }
  .dua {
    margin-bottom: 3rem;
  }
  .bg img {
    width: 1rem;
    height: auto;
  }
}

@media (max-width: 358px) {
  .btn-login {
    display: none;
  }
  .center-space2 {
    flex-direction: column;
  }
  footer {
    height: auto;
  }
  .title span.font-black {
    font-size: 2rem;
  }
  .right-section-event-unggulan .bg2 img {
    width: 5rem;
  }
  .card-body .visi {
    width: 12rem;
  }
  .space-copyrigt3 span {
    font-size: 10px;
  }
  .right-icons{
    gap: 1.3rem;
  }
  .right-icons a svg{
    width: 22px;
    height: 22px;
  }
}
